<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head/meta.html" . }}
    {{ $style := resources.Get "css/global.css"  | postCSS (dict "config" "./postcss.config.js")  | minify | fingerprint  }}
    <link rel="stylesheet" href="{{ $style.Permalink | safeCSS }}" integrity="{{ $style.Data.Integrity }}">
</head>
    <body class="font-sans m-0 antialiased bg-black ">
        <div id="main" class="w-full">
            {{ if .IsHome }}
            <header class="p-6 h-screen px-64">
                {{ partialCached "head/navigation.html" . }}
                {{ partialCached "head/hero.html" . }}
            </header>
            {{ end }}
            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}
            {{ block "footer" . }}
                {{ partialCached "footer/site-footer.html" . }}
            {{ end }}
        </div>
        {{ $global := resources.Get "js/index.js" }}
        <script type="text/javascript" src="{{ $global.Permalink }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    </body>
</html>
