<div id="footer-wrapper" class="w-full text-center border-t border-grey p-4 pb-0">
    <footer id="footer" class="footer">
        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10" style="box-sizing: border-box;">
            <p class="md:pb-0 float-left">
                    <a href="{{ relref . "imprint.md" }}" class="mx-6 no-underline font-bold">Imprint</a>
                    <a href="{{ relref . "privacy.md" }}" class="no-underline font-bold">Privacy</a>   
            </p>
            <p class="md:pb-0 float-left">Follow me:  
              <a href="https://github.com/aleksandarbasara/icarus-starter" class="no-underline font-bold mx-1"><i class=" h-4 fab fa-twitter-square"></i></a> 
              <a href="https://github.com/aleksandarbasara/icarus-starter" class="no-underline font-bold mx-1"><i class="fab fa-medium"></i></a> 
              <a href="https://github.com/aleksandarbasara/icarus-starter" class="no-underline font-bold mx-1"><i class="fab fa-github-square"></i></a> 
              <a href="https://github.com/aleksandarbasara/icarus-starter" class="no-underline font-bold mx-1"><i class="fab fa-dribbble-square"></i></a> 
            </p>
            
        </div>
    </footer>
</div>
